@using DataBaseevEverythingForHome.Models
@using Microsoft.AspNetCore.Identity
@using ProjectEverything.Infrastucture
@using ProjectEverything.Service.Users

@{
    ViewData["Title"] = "Cart";
    ViewBag.ALlowProductEdit = true;
}
@model CartProducts
@{
    decimal totalPrice = 0;
}
@inject SignInManager<Account> SignInManager

<div class="row">
    <div class="col-md-12 justify-content-center">
        <ul class="list-group">
            <h2 class="text-center">
                Your Orders
            </h2>
            @if (SignInManager.IsSignedIn(User))
            {
                <table class="table table-striped">
                    <tr>
                        <th>Part</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    @foreach (var product in @Model.Products)
                    {
                        <tr>
                            <th>@product.Part</th>
                            <th>@product.Price BGN</th>
                            <th>@product.QuantityBuy</th>
                            <th>@product.Description</th>
                            <th>@(product.Price*product.QuantityBuy) BGN</th>
                            <th>
                                <form asp-controller="Cart" asp-action="RemovePart" method="post">
                                    <div class="form-group">
                                        <input asp-for="ProductId" class="visually-hidden" value=@product.Id>
                                        <input asp-for="AccountId" class="visually-hidden" value=@User.GetId()>
                                    </div>
                                    <input class="btn btn-primary r" type="submit" value="x">
                                </form>
                            </th>
                        </tr>
                    }
                </table>
                <p class="text-end fw-bold">Total Price - @(totalPrice=Model.Products.Sum(x=>x.Price*x.QuantityBuy)) BGN</p>
            }
        </ul>
        <button class="btn btn-primary r float-start">Cancel</button>
        <button class="btn btn-primary r float-end">Confirm Order</button>
    </div>
</div>