@{
    ViewData["Title"] = "Cart";
}
@model CartAddedProducts

<div class="row">
    <div class="col-md-12 justify-content-center">
        <ul class="list-group">

            <table class="table table-striped">
                <tr>
                    <th>Part</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Total Price</th>
                </tr>

                <tr>
                    @foreach (var product in @Model.Order.Products)
                    {
                        <th>@product.Part</th>
                        <th>@product.Price BGN</th>
                        <th>@product.Quantity</th>
                        <th>@product.Description</th>
                        <th>@(product.Price*product.Quantity) BGN</th>
                    }
                </tr>

            </table>


        </ul>
    </div>
</div>